*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;;
}




.container{
    width: 1250px;
    margin: 0 auto;
    
}

/* banner style start */

.banner-section{
    
    background: #161616;
    border-radius: 20px;
    margin-bottom: 100px;
    
  
}
.banner-warper{
    display: flex;
    padding: 100px 100px 0 100px;
}
.banner-content{
    width: 100%;
}
.banner-content h1{
    font-size: 5em;
    color: #fff;
}
.banner-content p{
    color: #fff;
    margin-top: 20px;
    line-height: 25px;
}
.banner-content button{
    font-size: 22px;
    background: #dd0000;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    margin-top: 40px;
}
.banner-img{
    width: 100%;
}
.banner-img img{
 width: 100%;
 margin-bottom: -3px;
}

/* banner style start */

/* blog section start  */
.blog-section{
    margin-bottom: 100px;
}
.blog-warper{
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 20px;
}
.blog-filter{
    background: #161616;
    padding: 30px;
    border-radius: 10px;
    height: 200px;
}
.blog-filter ul li {
    list-style: none;
    background: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}
.blog-filter ul li:last-child{
    background-color: #dd0000;
    color: #fff;
}
.blog-filter ul li a {
    text-decoration: none;
}

.blogs-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.blogs-content article{
    border: 1px solid #d5d5d5;
    border-radius: 10px;
}

.blog-info{
    margin: 20px;
}
.blog img{
    display: block;
    width: 100%;
}

.blog h3{
    margin-top: 10px;
}
.blog button{
    background-color: #fff;
    border: 1px solid #161616;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
   
}
.blog-bottom{
    display: flex;
     margin-top: 15px;
     
}
.blog-time{
    margin-right: 20px;
}
.fa-regular{
    margin-right: 8px;
} 
.blog-comment{
    margin-right: 30px;
}

/* blog section style end */

/* footer style start  */
.footer{
    background-color: #161616;
    padding: 100px 0;
    width: 100%;
    height: auto;
}

.footer h1{
    color: #fff;
    font-size: 3em;
    text-align: center;
}

.footer hr{
    width: 1000px;
    color: rgb(215, 11, 11);
    margin: 0 auto;
    margin-top: 40px;
    height: 2px;
    background-color: #f6efef69;
    border: none;
}

.footer-menu{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer ul li{
    color: #b9b9b9;
    list-style: none;
    display: inline;
    margin-left: 10px;
    font-size: 18px;
}

/* footer style end */